
{%load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>User Signup Page</h1>

    <form action="">
        <label for=""> User Name</label>
        <input type="text">
        <br>
        <label for="">Email id</label>
        <input type="text">
        <br>
        <input type="submit">
    </form>

    <img src="{% static 'images/MTR Monitoring New.png' %} " alt="">

</body>
</html>